container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_update_commodities:
    command: "source /opt/python/run/venv/bin/activate && python manage.py update_commodities"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: placeholder_settings
    THISTOTHAT_AWS_ACCOUNT_ID: placeholder_account_id
    THISTOTHAT_AWS_KEY: placeholder_aws_key
    THISTOTHAT_AWS_SECRET: placeholder_aws_secret
    THISTOTHAT_ELASTICACHE_URL: placeholder_elasticache_url
    THISTOTHAT_MYSQL_USER: placeholder_mysql_user
    THISTOTHAT_MYSQL_PASSWORD: placeholder_mysql_password
    THISTOTHAT_MYSQL_HOST: placeholder_mysql_host
    THISTOTHAT_SECRET: placeholder_secret
    THISTOTHAT_SENTRY_URL: placeholder_sentry_url
  aws:elasticbeanstalk:container:python:
    WSGIPath: thistothat/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
